@import "../styles/variables";
@import "../styles/global";

.newsCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  box-shadow: 1px 1px 7px #888888;
  height: auto;
  cursor: pointer;

  .placeholder {
    background: rgba(13, 71, 161, 1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    img {
      height: 50px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    background-color: $primaryColor;
    background: rgba(9, 53, 123, 0.9);
    padding: 5px;
    color: #ffffff;
    max-height: 110px;
    min-height: 110px;

    .bigheading {
      font-size: 24px;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 700;
      line-height: 31px;
      letter-spacing: 0px;
      text-align: left;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      @include restrictContentLines(2);
    }

    .heading {
      font-size: 18px;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 700;
      line-height: 31px;
      letter-spacing: 0px;
      text-align: left;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      @include restrictContentLines(3);
    }

    .headingrows {
      font-size: 18px;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 700;
      line-height: 31px;
      letter-spacing: 0px;
      text-align: left;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      @include restrictContentLines(2);
    }

    .body {
      font-family: $robotoFont;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.10000000149011612px;
      text-align: left;
      @include restrictContentLines(2);
    }
  }
}

.animate-enter {
  opacity: 0;
  transform: scale(0.9);
}
.animate-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}
.animate-exit {
  opacity: 1;
}
.animate-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms;
}
